<div class="row">
    <div class="span6">
        <form class="form-horizontal" ng-submit="register()">
            <div class="control-group">
                <label class="control-label" for="inputEmail">User Name</label>
                <div class="controls">
                    <input type="text" id="Text1" placeholder="User Name ..." ng-model="newUser.userName">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email" ng-model="newUser.email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" ng-model="newUser.password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" for="autologin">
                        <input id="autologin" type="checkbox" ng-model="newUser.autoLogin"/>
                        Remember me
                    </label>
                    <button type="submit" class="btn">Register</button>
                    <a href="#/"class="btn">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>
