<div class="row">
    <div class="span6">
        <form class="form-horizontal" ng-submit="register()">
            <div class="control-group">
                <label class="control-label" for="inputEmail">User Name</label>
                <div class="controls">
                    <input type="text" id="Text1" placeholder="User Name ..." ng-model="credentials.username">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="controls">
                    <input type="text" id="inputEmail" placeholder="Email" ng-model="credentials.email">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="controls">
                    <input type="password" id="inputPassword" placeholder="Password" ng-model="credentials.password">
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox" for="autologin">
                        
                        Remember me
                    </label>
                    <button type="submit" class="btn">Register</button>
                    <a href="#/"class="btn">Cancel</a>
                </div>
            </div>
        </form>
        <ul>
            <li ng-repeat="item in validationErrors">
                <span>{{item.message}}</span>
            </li>
        </ul>
    </div>
</div>
